<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head.ejs') %>
	<title>Vivero Federal: Editar categoría</title>
	<link rel="stylesheet" href="/css/categories/editCategory.css">
</head>

<body>

	<%- include('../partials/header.ejs') %>

	<main>

		<section class="create">

			<!-- Título de la sección -->
			<h3 class="section-title">Editar categoría</h3>

			<!-- Formulario -->
			<form class="new" action="/categories/edit/<%= category.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

				<div class="data">

					<div class="field">
						<label for="name">Nombre de la categoría: </label>
						<input type="text" name="name" id="name" placeholder="Ej: Suculentas" value="<%= (locals.old && old.name) ? old.name : category.name %>">
						<p class="live-error" id="name"></p>
					</div>

					<div class="field">
						<label for="image">Imagen: </label>
						<input type="file" name="image" id="image">
						<p class="live-error-image" id="image"></p>
                        <p class="input-info">Seleccione un archivo para la imagen.</p>
					</div>

				</div>

				<!-- Errores -->
				<div class="errors">
					<% if (locals.errors) { %>
					<% errors.forEach(error => { %>
					<p class="error"><i class="fas fa-exclamation-circle"></i> <%= error.msg %></p>
					<% }) %>
					<% } %>
				</div>

				<button type="submit">Editar categoría</button>

			</form>

		</section>

	</main>

	<%- include('../partials/footer') %>

</body>

<script src="https://unpkg.com/validator@latest/validator.min.js"></script>
<script src="/js/categories/editCategory.js"></script>

</html>