<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head.ejs') %>
    <title>Vivero Federal: Nuevo producto</title>
    <link rel="stylesheet" href="/css/products/createProduct.css">
</head>

<body>

    <%- include('../partials/header.ejs') %>

    <main>

        <section class="create-product">

            <!-- Título de la sección -->
            <h3 class="section-title">Crear producto</h3>

            <!-- Formulario -->
            <form class="new-product" action="/products/" method="POST" enctype="multipart/form-data">

                <div class="data">

                    <label for="name">Nombre del producto: </label>
                    <input type="text" name="name" id="name" placeholder="Ej: Suculenta" value="<%= (locals.old && old.name) ? old.name : '' %>">

                    <label for="price">Precio: </label>
                    <input type="number" name="price" id="price" placeholder="AR$" value="<%= (locals.old && old.price) ? old.price : '' %>">

                    <label for="discount">Descuento: </label>
                    <input type="number" name="discount" id="discount" placeholder="Ej: 15" value="<%= (locals.old && old.discount) ? old.discount : '' %>">

                    <label for="image">Imagen: </label>
                    <input type="file" name="image" id="image">

                    <label for="category">Categoría: </label>
                    <select name="category" id="category">
                        <option value="" disabled selected>Elige una opción</option>
                        <option value="suc-cac" <%= (locals.old && old.category == 'suc-cac') ? 'selected' : '' %>>Suculentas y cactus</option>
                        <option value="interior" <%= (locals.old && old.category == 'interior') ? 'selected' : '' %>>De interior</option>
                        <option value="exterior" <%= (locals.old && old.category == 'exterior') ? 'selected' : '' %>>De exterior</option>
                        <option value="pots" <%= (locals.old && old.category == 'pots') ? 'selected' : '' %>>Macetas</option>
                        <option value="accesories" <%= (locals.old && old.category == 'accesories') ? 'selected' : '' %>>Accesorios</option>
                    </select>

                    <label for="description">Descripción: </label>
                    <textarea name="description" id="description" placeholder="Descripción larga del producto"><%= (locals.old && old.description) ? old.description : '' %></textarea>

                </div>

                <!-- Errores -->
                <div class="errors">
                    <% if (locals.errors) { %>
                    <% errors.forEach(error => { %>
                    <p class="error"><i class="fas fa-exclamation-circle"></i> <%= error.msg %></p>
                    <% }) %>
                    <% } %>
                </div>

                <button type="submit">Crear producto</button>

            </form>

        </section>

    </main>

    <%- include('../partials/footer') %>

</body>

</html>