<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head.ejs') %>
	<title>Vivero Federal: Nuevo producto</title>
	<link rel="stylesheet" href="/css/products/createProduct.css">
</head>

<body>

	<%- include('../partials/header.ejs') %>

	<main>

		<section class="create-product">

			<!-- Título de la sección -->
			<h3 class="section-title">Crear producto</h3>

			<!-- Formulario -->
			<form class="new-product" action="/products/add" method="POST" enctype="multipart/form-data">

				<div class="data">

					<div class="field">
						<label for="name">Nombre del producto: </label>
						<input type="text" name="name" id="name" placeholder="Ej: Suculenta" value="<%= (locals.old && old.name) ? old.name : '' %>">
						<p class="live-error" id="name"></p>
					</div>

					<div class="field">
						<label for="price">Precio: </label>
						<input type="text" name="price" id="price" placeholder="AR$" value="<%= (locals.old && old.price) ? old.price : '' %>">
						<p class="live-error" id="price"></p>
					</div>

					<div class="field">
						<label for="discount">Descuento: </label>
						<input type="text" name="discount" id="discount" placeholder="Ej: 15" value="<%= (locals.old && old.discount) ? old.discount : '' %>">
						<p class="live-error" id="discount"></p>
					</div>

					<div class="field">
						<label for="image">Imagen: </label>
						<input type="file" name="image" id="image">
						<p class="live-error-image" id="image"></p>
					</div>

					<div class="field">
						<label for="category_id">Categoría: </label>
						<select name="category_id" id="category_id">
							<option value="" disabled selected>Elige una opción</option>

							<% for (i=0; i < categories.length; i++) { %>
							<option value="<%= categories[i].id %>" <%= (locals.old && old.category_id == categories[i].id) ? 'selected' : '' %>><%= categories[i].name %></option>
							<% } %>

						</select>
                        <p class="live-error-image" id="category_id"></p>
					</div>

					<div class="field">
						<label for="color_id">Color: </label>
						<select name="color_id" id="color_id">
							<option value="" selected>Elige una opción</option>

							<% for (i=0; i < colors.length; i++) { %>
							<option value="<%= colors[i].id %>" <%= (locals.old && old.color_id == colors[i].id) ? 'selected' : '' %>><%= colors[i].name %></option>
							<% } %>

						</select>
					</div>

					<div class="field">
						<label for="size_id">Tamaño: </label>
						<select name="size_id" id="size_id">
							<option value="" selected>Elige una opción</option>

							<% for (i=0; i < sizes.length; i++) { %>
							<option value="<%= sizes[i].id %>" <%= (locals.old && old.size_id == sizes[i].id) ? 'selected' : '' %>><%= sizes[i].name %></option>
							<% } %>

						</select>
					</div>

					<div class="field">
						<label for="description">Descripción: </label>
						<textarea name="description" id="description" placeholder="Descripción larga del producto"><%= (locals.old && old.description) ? old.description : '' %></textarea>
						<p class="live-error" id="description"></p>
					</div>

				</div>

				<!-- Errores -->
				<div class="errors">
					<% if (locals.errors) { %>
					<% errors.forEach(error => { %>
					<p class="error"><i class="fas fa-exclamation-circle"></i> <%= error.msg %></p>
					<% }) %>
					<% } %>
				</div>

				<button type="submit">Crear producto</button>

			</form>

		</section>

	</main>

	<%- include('../partials/footer') %>

</body>

<script src="https://unpkg.com/validator@latest/validator.min.js"></script>
<script src="/js/products/createProduct.js"></script>

</html>