<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head.ejs') %>
    <title>Vivero Federal: <%= product.name %>
    </title>
    <link rel="stylesheet" href="/css/products/productDetail.css">
</head>

<body>

    <%- include('../partials/header.ejs') %>

    <main>

        <section class="product-details">

            <!-- Título -->
            <h3 class="section-title">Detalle del producto</h3>

            <!-- Datos básicos-->
            <div class="details">

                <!-- Imágenes -->
                <div class="product-images">
                    <div class="side-images">
                        <img src="/images/products/<%= product.image %>" alt="Imagen de <%= product.name %>" class="product-img">
                        <img src="/images/products/<%= product.image %>" alt="Imagen de <%= product.name %>" class="product-img">
                    </div>
                    <div class="big-image">
                        <img src="/images/products/<%= product.image %>" alt="Imagen de <%= product.name %>" class="product_main_img">
                    </div>
                </div>

                <!-- Detalles del producto-->
                <div class="product-name-price">

                    <!-- Descripción de la categoría -->
                    <% let categoryDescription='' ; switch (product.category) { case 'suc-cac' :
                            categoryDescription='Suculentas y cactus' ; break; case 'interior' :
                            categoryDescription='De interior' ; break; case 'exterior' :
                            categoryDescription='De exterior' ; break; case 'accesories' :
                            categoryDescription='Accesorios' ; break; case 'pots' : categoryDescription='Macetas' ;
                            break; default: categoryDescription='Sin categoría' ; } %>

                    <!-- Nombre y precio -->
                    <p class="name">
                        <%= product.name %> - <%= categoryDescription %>
                    </p>
                    <% if (product.discount !=0) { %>
                    <p class="price">
                        <span>$<%= toThousand(product.price) %></span>
                        <b>
                            <%= product.discount %>% OFF
                        </b>
                    </p>
                    <% } %>
                    <h2 class="final-price">$<%= toThousand(product.price - (product.price *
                                            product.discount/100)) %>
                    </h2>

                    <!-- Medios de pago -->
                    <div class="payment-methods">
                        <a href="#">Ver medios de pago</a>
                        <div class="icons">
                            <i class="fab fa-cc-visa"></i>
                            <i class="fab fa-cc-mastercard"></i>
                            <i class="fab fa-cc-amex"></i>
                            <i class="fas fa-credit-card"></i>
                        </div>
                    </div>

                    <p class="line"></p>

                    <!-- Tipo y cantidad -->
                    <form class="add-to-cart" action="#" method="GET">

                        <div class="selection">
                            <label for="type">Tamaño:</label>
                            <select id="type">
                                <option value="very-large">Muy grande</option>
                                <option value="large">Grande</option>
                                <option value="medium">Mediano</option>
                                <option value="small">Chico</option>
                                <option value="very small">Muy chico</option>
                            </select>
                        </div>

                        <div class="quantity">
                            <label>Cantidad: </label>
                            <button class="less" type="button" name="less" id="less"><i class="fas fa-minus"></i></button>
                            <input class="quantity-input" type="text" name="quantity" id="quantity" value="20">
                            <button class="more" type="button" name="more" id="more"><i class="fas fa-plus"></i></button>
                        </div>

                        <!-- Medios de envío -->
                        <div class="shipping">
                            <a href="#">Ver medios de envío</a>
                            <i class="fas fa-truck"></i>
                        </div>

                        <p class="line"></p>

                        <!-- Agregar al carrito -->
                        <button class="add-to-cart" type="submit" name="add-to-cart" id="add-to-cart">Añadir al carrito</button>

                        <!-- Añadir a favoritos -->
                        <a class="favorite" href="#">Añadir a favoritos <i class="far fa-heart"></i></a>

                    </form>

                    <p class="line"></p>

                    <!-- Formulario de edición/eliminación -->
                    <form class="edit" action="/products/<%= product.id %>?_method=DELETE" method="POST">
                        <!-- Editar -->
                        <a class="edit-product" href="/products/<%= product.id %>/editProduct">Editar el
                            producto</a>
                        <!-- Eliminar -->
                        <button type="submit" class="delete">Eliminar el producto</button>
                    </form>

                    <p class="line"></p>


                    <!-- Compartir -->
                    <div class="share">
                        <p>Compartir: </p>
                        <div class="share-icons">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fas fa-share-alt"></i></a>
                        </div>
                    </div>

                </div>

            </div>

            <!-- Descripción -->
            <div class="description">
                <p class="title">Descripción</p>
                <p class="text">
                    <%= product.description %>
                </p>
            </div>

        </section>

        <section class="related-products">

            <!-- Productos relacionados -->
            <h3 class="section-title">Productos relacionados</h3>

            <!-- Listado -->
            <div class="products">
                <% for (i=0; i < 4; i++) { %>
                <article>
                    <a href="/products/1">
                        <img src="/images/products/suculenta.jpg" alt="Suculenta" class="product-img">
                        <div class="main-article">
                            <h4 class="name">Suculenta</h4>
                            <p class="price">$550</p>
                        </div>
                    </a>
                </article>
                <% } %>

            </div>

            <div class="more-products">
                <!-- Más productos -->
                <a href="/products">Ver más productos relacionados</a>
            </div>

        </section>

        <!-- <section class="additional-information">
                <article>
                    <div class="icono-anuncio-complementario"><i class="fas fa-phone-alt"></i></i></div>
                    <h4>ASESORAMIENTO Y VENTAS</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda vitae</p>
                </article>
                <article>
                    <div class="icono-anuncio-complementario"><i class="fas fa-truck"></i></div>
                    <h4>ENVÍOS A DOMICILIO</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </article>
                <article>
                    <div class="icono-anuncio-complementario"><i class="fas fa-shield-alt"></i></div>
                    <h4>PAGOS Y COMPRAS SEGURAS</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae ab ducimus, suscipit</p>
                </article>
            </section> -->

    </main>

    <%- include('../partials/footer') %>

</body>

</html>