<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head.ejs') %>
    <title>Vivero Federal: Productos</title>
    <link rel="stylesheet" href="/css/products/products.css">
</head>

<body>

    <%- include('../partials/header.ejs') %>

    <main>

        <section class="all-products">

            <!-- Título -->
            <h3 class="section-title">Todos los productos</h3>

            <!-- Ordenamiento-->
            <div class="order-by">

                <label for="order-by">Ordenar por:</label>
                <select id="order-by">
                    <option value="price-high">Mayor a menor</option>
                    <option value="price-low">Menor a mayor</option>
                    <option value="alphabetical">A - Z</option>
                    <option value="alphabetical-descending">Z - A</option>
                    <option value="newest">Más nuevo al más viejo</option>
                    <option value="oldest">Más viejo al más nuevo</option>
                    <option value="top-sellers">Más vendidos</option>
                </select>

            </div>

            <!-- Botón filtrar-->
            <div class="filter-button">

                <a href="#">Filtrar <i class="fas fa-chevron-down"></i></a>

            </div>

            <!-- Listado y filtros -->
            <div class="list">

                <!-- Filtros -->
                <div class="filters">

                    <div class="categories">
                        <p>Categoría</p>
                        <ul>
                            <li><a href="#">Suculentas y Cactus</a></li>
                            <li><a href="#">De interior</a></li>
                            <li><a href="#">De exterior</a></li>
                            <li><a href="#">Macetas</a></li>
                            <li><a href="#">Accesorios</a></li>
                        </ul>
                    </div>

                    <div class="color">
                        <p>Color</p>
                        <ul>
                            <li><a href="#">Blanco</a></li>
                            <li><a href="#">Negro</a></li>
                            <li><a href="#">Marrón oscuro</a></li>
                            <li><a href="#">Marrón claro</a></li>
                            <li><a href="#">Naranja</a></li>
                        </ul>
                    </div>

                    <div class="size">
                        <p>Tamaño</p>
                        <ul>
                            <li><a href="#">Muy grande</a></li>
                            <li><a href="#">Grande</a></li>
                            <li><a href="#">Mediano</a></li>
                            <li><a href="#">Chico</a></li>
                            <li><a href="#">Muy chico</a></li>
                        </ul>
                    </div>

                </div>

                <!-- Productos -->
                <div class="products">
                    <% for (i = 0; i < products.length; i++) { %>
                    <article>
                        <a href="/products/detail/<%= products[i].id %>">
                            <img src="/images/products/<%= products[i].image %>" alt="Imagen de <%= products[i].name %>" class="product-img">
                            <div class="main-article">
                                <h4 class="name"><%= products[i].name %></h4>
                                <div class="price">
                                    <p class="price">$<%= toThousand(products[i].price) %></p>
                                    <% if (products[i].discount !=0) { %>
                                    <p class="discount"><%= products[i].discount %>% OFF</p>
                                    <% } %>
                                </div>
                                <button class="favorite"><a href="/products/detail/<%= products[i].id %>"><i class="far fa-heart"></i></a></i></button>
                                <button class="cart"><a href="/products/productCart"><i class="fas fa-cart-plus"></i></a></button>
                            </div>
                        </a>
                    </article>
                    <% } %>

                    <div class="more-products">
                        <!-- Más productos -->
                        <a href="/products">Ver más productos</a>
                    </div>

                </div>

            </div>

        </section>

    </main>

    <%- include('../partials/footer.ejs') %>

</body>

</html>