<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head.ejs') %>
    <title>Vivero Federal: Panel de tamaños</title>
    <link rel="stylesheet" href="/css/sizes/panel.css">
</head>

<body>

    <%- include('../partials/header.ejs') %>

    <main>

        <section class="list">

            <h3 class="section-title">Panel de tamaños</h3>

			<!-- Barra de búsqueda -->
			<form class="search" action="/sizes/panel/search" method="POST">
				<input class="search-input" type="text" name="searchPanel" placeholder="Buscar..." value="<%= (locals.query && query.searchPanel) ? query.searchPanel : '' %>" required>
				<button class="search-button" type="submit"><i class="fa fa-search"></i></button>
			</form>

            <!-- Listado -->
            <div class="list">

                <article>

                    <!-- Nuevo -->
                    <a href="/sizes/add" class="user">Nuevo tamaño</p>

                    <!-- Botón de agregar -->
                    <a href="/sizes/add"><i class="fas fa-plus"></i></a>

                </article>

                <% for (i = 0; i < sizes.length; i++) { %>

                <article>

                    <!-- Nombre del elemento -->
                    <p class="user"><%= sizes[i].name %></p>

                    <div class="buttons">

                        <!-- Botón de editar -->
                        <a href="/sizes/edit/<%= sizes[i].id %>"><i class="fas fa-edit"></i></a>

                        <% if (sizes[i].disabled == 1) { %>

                        <!-- Botón de habilitar -->
                        <form action="/sizes/enable/<%= sizes[i].id %>?_method=PUT" method="POST">
                            <button type="submit"><i class="fa-solid fa-toggle-off"></i></button>

                        </form>

                        <% } else { %>

                        <!-- Botón de eliminar -->
                        <form action="/sizes/delete/<%= sizes[i].id %>?_method=DELETE" method="POST">
                            <button type="submit"><i class="fa-solid fa-toggle-on"></i></button>

                        </form>

                        <% } %>

                    </div>

                </article>

                <% } %>

            </div>

			<div class="pages">
				<a class="prevPage" href="<%= prevPage %>"><i class="fa-solid fa-arrow-left"></i></a>
				<p>Página <%= query.page %></p>
				<a class="nextPage" href="<%= nextPage %>"><i class="fa-solid fa-arrow-right"></i></a>
			</div>

            <div class="all-elements">
                <a  href="/sizes/panel">Ver todos los tamaños</a>
            </div>

        </section>

    </main>

    <%- include('../partials/footer.ejs') %>

</body>

<script src="/js/sizes/panel.js"></script>

</html>