<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head.ejs') %>
	<title>Vivero Federal: Editar color</title>
	<link rel="stylesheet" href="/css/colors/editColor.css">
</head>

<body>

	<%- include('../partials/header.ejs') %>

	<main>

		<section class="create">

			<!-- Título de la sección -->
			<h3 class="section-title">Editar color</h3>

			<!-- Formulario -->
			<form class="new" action="/colors/edit/<%= color.id %>?_method=PUT" method="POST">

				<div class="data">

					<label for="name">Nombre del color: </label>
					<input type="text" name="name" id="name" placeholder="Ej: Rojo" value="<%= (locals.old && old.name) ? old.name : color.name %>">
                    
				</div>

				<!-- Errores -->
				<div class="errors">
					<% if (locals.errors) { %>
					<% errors.forEach(error => { %>
					<p class="error"><i class="fas fa-exclamation-circle"></i> <%= error.msg %></p>
					<% }) %>
					<% } %>
				</div>

				<button type="submit">Editar color</button>

			</form>

		</section>

	</main>

	<%- include('../partials/footer') %>

</body>

</html>