<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head.ejs') %>
    <title>Vivero Federal: Panel de colores</title>
    <link rel="stylesheet" href="/css/colors/panel.css">
</head>

<body>

    <%- include('../partials/header.ejs') %>

    <main>

        <section class="list">

            <h3 class="section-title">Panel de colores</h3>

            <!-- Listado -->
            <div class="list">

                <% for (i = 0; i < colors.length; i++) { %>

                <article>

                    <!-- Nombre del elemento -->
                    <p class="user"><%= colors[i].name %></p>

                    <div class="buttons">

                        <!-- Bot贸n de editar -->
                        <a href="/colors/edit/<%= colors[i].id %>"><i class="fas fa-edit"></i></a>

                        <% if (colors[i].disabled == 1) { %>

                        <!-- Bot贸n de habilitar -->
                        <form action="/colors/enable/<%= colors[i].id %>?_method=PUT" method="POST">
                            <button type="submit"><i class="fa-solid fa-toggle-off"></i></button>

                        </form>

                        <% } else { %>

                        <!-- Bot贸n de eliminar -->
                        <form action="/colors/delete/<%= colors[i].id %>?_method=DELETE" method="POST">
                            <button type="submit"><i class="fa-solid fa-toggle-on"></i></button>

                        </form>

                        <% } %>

                    </div>

                </article>

                <% } %>

                <article>

                    <!-- Nuevo -->
                    <p class="user">Nuevo color</p>

                    <!-- Bot贸n de agregar -->
                    <a href="/colors/add"><i class="fas fa-plus"></i></a>

                </article>

            </div>

        </section>

    </main>

    <%- include('../partials/footer.ejs') %>

</body>

</html>