<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head.ejs') %>
	<title>Vivero Federal: Editar categoría</title>
	<link rel="stylesheet" href="/css/users/editProfile.css">
</head>

<body>

	<%- include('../partials/header.ejs') %>

	<main>

		<section class="edit-user">

			<!-- Título de la sección -->
			<h3 class="section-title">Editar perfil</h3>

			<!-- Formulario -->
			<form class="edit-user" action="/users/editProfile/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

				<div class="data">

					<label for="first_name">Nombre del usuario: </label>
					<input type="text" name="first_name" id="first_name" placeholder="Ej: Martín" value="<%= (locals.old && old.first_name) ? old.first_name : user.first_name %>">

					<label for="last_name">Apellido del usuario: </label>
					<input type="text" name="last_name" id="last_name" placeholder="Ej: Fernández" value="<%= (locals.old && old.last_name) ? old.last_name : user.last_name %>">

					<label for="email">Correo: </label>
					<input type="text" name="email" id="email" value="<%= user.email %>" disabled>

					<label for="user_category_id">Categoría: </label>
					<select name="user_category_id" id="user_category_id" disabled>
						<option value="" disabled>Elige una opción</option>
						<% for (i=0; i < user_categories.length; i ++) { %>
						<option value="<%= user_categories[i].id %>"><%= user_categories[i].name %></option>
						<% } %>
					</select>

					<label for="image">Avatar: </label>
					<input type="file" name="image" id="image">

				</div>

				<!-- Errores -->
				<div class="errors">
					<% if (locals.errors) { %>
					<% errors.forEach(error => { %>
					<p class="error"><i class="fas fa-exclamation-circle"></i> <%= error.msg %></p>
					<% }) %>
					<% } %>
				</div>

				<button type="submit">Editar perfil del usuario</button>

			</form>

		</section>

	</main>

	<%- include('../partials/footer') %>

</body>

<script src="/js/users/editProfile.js"></script>

</html>