<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head.ejs') %>
	<title>Vivero Federal: Login</title>
	<link rel="stylesheet" href="/css/users/login.css">
</head>

<body>

	<%- include('../partials/header.ejs') %>

	<main>

		<section class="login">

			<h3 class="section-title">Iniciar sesión</h3>

			<form class="login" action="/users/login" method="POST">

				<!-- Campos -->
				<div class="field">
					<input type="text" id="email" name="email" placeholder="Email" value="<%= (locals.oldLogin && oldLogin.email) ? oldLogin.email : '' %>">
					<p class="live-error" id="email"></p>
				</div>
				<div class="field">
					<input type="password" id="password" name="password" placeholder="Contraseña">
					<p class="live-error" id="password"></p>
				</div>

				<div class="remember">
					<input type="checkbox" id="remember" name="remember">
					<label for="remember"> Recordarme</label>
				</div>

				<!-- Errores -->
				<div class="errors">
					<% if (locals.errorsLogin) { %>
					<% errorsLogin.forEach(error => { %>
					<p class="error"><i class="fas fa-exclamation-circle"></i> <%= error.msg %></p>
					<% }) %>
					<% } %>
				</div>

				<!-- Botón -->
				<button type="submit">Iniciar sesión</button>
				<a href="#">
					<p>¿Olvidaste tu contraseña?</p>
				</a>

			</form>

		</section>

		<section class="register">

			<h3 class="section-title">Registrarse</h3>

			<form class="register" action="/users/register" method="POST" enctype="multipart/form-data">

				<!-- Campos -->
				<div class="field">
					<input type="text" id="first_name" name="first_name" placeholder="Nombre" value="<%= (locals.oldRegister && oldRegister.firstName) ? oldRegister.firstName : '' %>">
					<p class="live-error" id="first_name"></p>
				</div>
				<div class="field">
					<input type="text" id="last_name" name="last_name" placeholder="Apellido" value="<%= (locals.oldRegister && oldRegister.lastName) ? oldRegister.lastName : '' %>">
					<p class="live-error" id="last_name"></p>
				</div>
				<div class="field">
					<input type="text" id="email" name="email" placeholder="Email" value="<%= (locals.oldRegister && oldRegister.email) ? oldRegister.email : '' %>">
					<p class="live-error" id="email"></p>
				</div>
				<div class="field">
					<input type="password" id="password" name="password" placeholder="Contraseña" value="<%= (locals.oldRegister && oldRegister.password) ? oldRegister.password : '' %>">
					<p class="live-error" id="password"></p>
				</div>
				<div class="field">
					<input type="password" id="passwordConfirmation" name="passwordConfirmation" placeholder="Confirmar contraseña" value="<%= (locals.oldRegister && oldRegister.passwordConfirmation) ? oldRegister.passwordConfirmation : '' %>">
					<p class="live-error" id="passwordConfirmation"></p>
				</div>
				<div class="field">
					<input type="file" id="avatar" name="avatar">
					<p class="live-error-image" id="avatar"></p>
				</div>

				<!-- Errores -->
				<div class="errors">
					<% if (locals.errorsRegister) { %>
					<% errorsRegister.forEach(error => { %>
					<p class="error"><i class="fas fa-exclamation-circle"></i> <%= error.msg %></p>
					<% }) %>
					<% } %>
				</div>

				<!-- Botón -->
				<button type="submit">Registrarme</button>

			</form>

		</section>

	</main>

	<%- include('../partials/footer.ejs') %>

</body>

<script src="https://unpkg.com/validator@latest/validator.min.js"></script>
<script src="/js/users/login.js"></script>

</html>