<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head.ejs') %>
        <title>Vivero Federal: Login</title>
        <link rel="stylesheet" href="/css/users/login.css">
</head>

<body>

    <%- include('../partials/header.ejs') %>

        <main>

            <section class="login">

                <h3 class="section-title">Iniciar sesión</h3>

                <form class="login" action="#" method="POST">

                    <!-- Campos -->
                    <input type="text" id="email" name="email" placeholder="Email">
                    <input type="password" id="password" name="password" placeholder="Contraseña">

                    <div class="remember-me">
                        <input type="checkbox" id="remember-me">
                        <label for="remember-me"> Recordarme</label>
                    </div>

                    <!-- Botón -->
                    <button type="submit">Iniciar sesión</button>
                    <a href="/users/login">
                        <p>¿Olvidaste tu contraseña?</p>
                    </a>

                </form>

            </section>

            <section class="register">

                <h3 class="section-title">Registrarse</h3>

                <form class="register" action="/users/register" method="POST" enctype="multipart/form-data">

                    <!-- Campos -->
                    <input type="text" id="firstName" name="firstName" placeholder="Nombre" value="<%= (locals.old && old.firstName) ? old.firstName : '' %>">
                    <input type="text" id="lastName" name="lastName" placeholder="Apellido" value="<%= (locals.old && old.lastName) ? old.lastName : '' %>">
                    <input type="text" id="email" name="email" placeholder="Email" value="<%= (locals.old && old.email) ? old.email : '' %>">
                    <input type="password" id="password" name="password" placeholder="Contraseña" value="<%= (locals.old && old.password) ? old.password : '' %>">
                    <input type="password" id="passwordConfirmation" name="passwordConfirmation" placeholder="Confirmar contraseña" value="<%= (locals.old && old.passwordConfirmation) ? old.passwordConfirmation : '' %>">
                    <input type="file" id="avatar" name="avatar">

                    <!-- Errores -->
                    <div class="errors">
                        <% if (locals.errors) { %>
                        <% errors.forEach(error => { %>
                        <p class="error"><i class="fas fa-exclamation-circle"></i> <%= error.msg %></p>
                        <% }) %>
                        <% } %>
                    </div>
                
                    <!-- Botón -->
                    <button type="submit" >Registrarme</button>

                </form>

            </section>

        </main>

        <%- include('../partials/footer.ejs') %>

</body>

</html>