<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head.ejs') %>
	<title>Vivero Federal: Panel de usuarios</title>
	<link rel="stylesheet" href="/css/users/panel.css">
</head>

<body>

	<%- include('../partials/header.ejs') %>

	<main>

		<section class="profile">

			<h3 class="section-title">Panel de usuarios</h3>

			<!-- Barra de búsqueda -->
			<form class="search" action="/users/panel/search" method="POST">
				<input class="search-input" type="text" name="searchPanel" placeholder="Buscar..." value="<%= (locals.query && query.searchPanel) ? query.searchPanel : '' %>" required>
				<button class="search-button" type="submit"><i class="fa fa-search"></i></button>
			</form>

			<!-- Lista de usuarios -->
			<div class="list">

				<% for (i = 0; i < users.length; i++) { %>

				<article>

					<!-- Nombre y correo del usuario -->
					<p class="user"><%= users[i].first_name + ' ' + users[i].last_name + ' - ' + users[i].email + ' - '  + users[i].user_category.name %></p>

					<!-- Botón de editar -->
					<a href="/users/editCategory/<%= users[i].id %>"><i class="fas fa-edit"></i></a>

				</article>

				<% } %>

			</div>

            <div class="all-elements">
                <a  href="/users/panel">Ver todos los usuarios</a>
            </div>

		</section>

	</main>

	<%- include('../partials/footer.ejs') %>

</body>

</html>