<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head.ejs') %>
	<title>Vivero Federal: Panel de usuarios</title>
	<link rel="stylesheet" href="/css/users/panel.css">
</head>

<body>

	<%- include('../partials/header.ejs') %>

	<main>

		<section class="profile">

			<h3 class="section-title">Panel de usuarios</h3>

			<!-- Lista de usuarios -->
			<div class="list">

				<% for (i = 0; i < users.length; i++) { %>

				<article>

					<!-- Nombre y correo del usuario -->
					<p class="user"><%= users[i].first_name + ' ' + users[i].last_name + ' - ' + users[i].email %></p>

					<!-- Botón de editar -->
					<a href="/users/editCategory/<%= users[i].id %>"><i class="fas fa-edit"></i></a>

				</article>

				<% } %>

			</div>

		</section>

	</main>

	<%- include('../partials/footer.ejs') %>

</body>

</html>